<div class="mt-5 invisible">
.
</div>
<footer class="container">
  <div class="d-flex justify-content-around justify-content-md-between align-items-center mt-5 mb-5 row">
    <p class="mb-3 mb-sm-0 ml-sm-3">2020</p>
    <div class="w-100 d-block d-sm-none"></div>
    <div class="socials">
      <a routerLink=""><img src="/assets/images/twitter.png" alt="Foto de Twitter"></a>
      <a routerLink=""><img src="/assets/images/facebook.png" alt="Foto de Facebook"></a>
      <a routerLink=""><img src="/assets/images/linkedin.png" alt="Foto de LinkedIn"></a>
      <a routerLink=""><img src="/assets/images/youtube.png" alt="Foto de YouTube"></a>
      <a routerLink=""><img src="/assets/images/instagram.png" alt="Foto de Instagram"></a>
      <a routerLink=""><img src="/assets/images/snapchat.png" alt="Foto de Snapchat"></a>
    </div>
  </div>
</footer>