<!-- NIEVATODO: Remove unused assets: fonts -->

<main class="container">
  <section class="row">
    <article class="presentation-info mt-4 col-lg-7">
      <section class="brands mt-4 mt-md-5 mb-5 mb-md-3">
        <ul class="row">
          <li class="col">
            <img src="/assets/images/clusterfinanciero.png" alt="Foto de Cluster Financiero">
          </li>
          <li class="col">
            <img src="/assets/images/asobanca.png" alt="Foto de Asobanca">
          </li>
          <li class="col">
            <img src="/assets/images/ipbf.jpg" alt="Foto de Ipbf">
          </li>
          <div class="w-100 d-block d-md-none"></div>
          <li class="col">
            <img src="/assets/images/hightelecom.png" alt="Foto de Hightelecom">
          </li>
          <li class="col">
            <img src="/assets/images/ebanx.png" alt="Foto de Ebanx">
          </li>
          <li class="col">
            <img src="/assets/images/zendesk.png" alt="Foto de Zendesk">
          </li>
        </ul>
      </section>
      <p>
        Te invitan este webinar, donde trataremos la temática de cómo humanizar la experiencia del cliente de Banca y Seguros en el nuevo entorno digital.
      </p>
      <p>
        Además podremos conocer las estrategias que aplicó LOREM para generar una experiencia memorable para sus clientes, mientras se convertía en el gran Unicornio de LATAM.
      </p>
      <p>
        Escucha de primera mano la voz de nuestros especialistas:
      </p>
      <div class="presentation-info__speakers-list">
        <div *ngFor="let specialist of (specialists$ | async)" class="presentation-info__speaker d-flex flex-nowrap">
          <img [src]="specialist.imageAsset" alt="Foto de perfil de {{ specialist.name }}" class="align-self-center">
          <div class="presentation-info__speaker__info">
            <p class="presentation-info__speaker__info__name mx-4 my-2">{{ specialist.name }}</p>
            <p class="presentation-info__speaker__info__role mx-4 my-2">{{ specialist.role }}</p>
          </div>
        </div>
      </div>
      <p>
        Participa e inspírate para innovar y mejorar la interacción entre clientes y marcas con historias de éxito de empresas del ámbito financiero en América Latina.
      </p>
      <p>
        ¡Te esperamos!
      </p>
    </article>
    <app-attendee-form class="col-lg-5"></app-attendee-form>
  </section>
  <section class="brands mt-5">
    <ul class="row">
      <li class="col">
        <img src="/assets/images/clusterfinanciero.png" alt="Foto de Cluster Financiero">
      </li>
      <li class="col">
        <img src="/assets/images/asobanca.png" alt="Foto de Asobanca">
      </li>
      <li class="col">
        <img src="/assets/images/ipbf.jpg" alt="Foto de Ipbf">
      </li>
      <div class="w-100 d-block d-md-none"></div>
      <li class="col">
        <img src="/assets/images/hightelecom.png" alt="Foto de Hightelecom">
      </li>
      <li class="col">
        <img src="/assets/images/ebanx.png" alt="Foto de Ebanx">
      </li>
      <li class="col">
        <img src="/assets/images/zendesk.png" alt="Foto de Zendesk">
      </li>
      <div class="d-none d-lg-block col-5"></div>
    </ul>
  </section>
</main>