@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  src: url(/assets/fonts/samsungsharpsans.woff);
}

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  src: url(/assets/fonts/samsungsharpsans-medium.woff);
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  src: url(/assets/fonts/samsungsharpsans-bold.woff);
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(/assets/fonts/proximanova-regular-webfont.woff)
}

html {
  font-size: 1em;
}

body {
  font-family: 'Samsung Sharp Sans Regular';
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width : 1224px) {
}