nav ul {
  list-style: none;
}

nav ul li:hover {
  background-color: rgb(230, 230, 230);
}

nav ul li {
  font-size: 1.3em;
  padding: 0.5em 1.1em 0.5em 1.1em;
  transition: background-color 0.15s;
  border-radius: 3px;
}

nav ul li a {
  color: rgb(2, 66, 75);
  font-family: 'Proxima Nova Regular';
  text-decoration: none;
}

.active {
  background-color: rgb(230, 230, 230);
}